.btn {
  font-size: 18px;
  padding: 10px 15px;
  text-align: center;
  background-color: #000000;
  color: #CCCCCC;
  border: 2px white;
  border-radius: 5px;
  cursor: pointer;
  margin: 1%; }
  .btn:hover {
    background-color: #CCCCCC;
    color: #000000;
    border: 1px ridge black; }

.btn-sml {
  font-size: 15px;
  padding: 5px 13px; }

.btn-lrg {
  font-size: 25px;
  padding: 12px 23px; }

.btn-blue {
  background-color: #3399FF;
  color: #FFFFFF; }
  .btn-blue:hover {
    background-color: #FFFFFF;
    color: #3399FF;
    font-size: 18px;
    padding: 10px 15px; }

.btn-vert {
  background-color: #33FF33;
  color: #FFFFFF; }
  .btn-vert:hover {
    background-color: #FFFFFF;
    color: #33FF33;
    font-size: 18px;
    padding: 10px 15px; }

.btn-rouge {
  background-color: #FF3333;
  color: #FFFFFF; }
  .btn-rouge:hover {
    background-color: #FFFFFF;
    color: #FF3333;
    font-size: 18px;
    padding: 10px 15px; }

.btn-flat {
  padding: 4px 15px;
  border-radius: 0px;
  border: 0px;
  background-color: #00CC33;
  color: white;
  margin: 5px; }
  .btn-flat:hover {
    background-color: #00CC33;
    color: white;
    border: none; }

.btn-extra {
  width: 100%;
  margin: 0; }

.btn-fancy {
  color: white;
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C */
  box-shadow: 8px 8px 8px #888;
  border: none; }
  .btn-fancy:hover {
    padding: 15px 20px;
    transform: rotateX(20deg);
    transition: all 1s ease;
    background-color: #1e5799;
    color: white;
    border: none; }

/*# sourceMappingURL=bouton.css.map */
