.header {
  height: auto;
  border: 1px solid #CCC;
  width: 90%;
  margin: 10px auto;
  font-size: 40px;
  background-color: #99CCFF;
  text-align: center;
  padding: 25px; }

.jumbo {
  padding: 30px;
  background-color: rgba(174, 140, 142, 0.6);
  text-align: center;
  width: 45%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  font-family: Arial;
  border-radius: 3px; }
  .jumbo p {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    line-height: normal; }
  .jumbo h1 {
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: #B18904; }
  .jumbo button {
    margin-top: 25px; }

/*# sourceMappingURL=composant.css.map */
