.row {
  width: 100%;
  background-color: #BCF5A9; }

.col-1 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 10.5%;
  margin: 1% 1%; }

.col-2 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 23%;
  margin: 1% 1%; }

.col-3 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 35.5%;
  margin: 1% 1%; }

.col-4 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 48%;
  margin: 1% 1%; }

.col-5 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 60.5%;
  margin: 1% 1%; }

.col-6 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 73%;
  margin: 1% 1%; }

.col-7 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 85.5%;
  margin: 1% 1%; }

.col-8 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 98%;
  margin: 1% 1%; }

.offset-1 {
  margin-left: 13.5%; }

.offset-2 {
  margin-left: 26%; }

.offset-3 {
  margin-left: 38.5%; }

.offset-4 {
  margin-left: 51%; }

.offset-5 {
  margin-left: 63.5%; }

.offset-6 {
  margin-left: 76%; }

.offset-7 {
  margin-left: 88.5%; }

/*# sourceMappingURL=grille.css.map */
