@charset "UTF-8";
.info, .success, .warning, .error {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center; }

.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url("../image/knobs/PNG/info.png"); }

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url("../image/knobs/PNG/success.png"); }

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url("../image/knobs/PNG/warning.png"); }

.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url("../image/knobs/PNG/error.png"); }

.btn {
  font-size: 18px;
  padding: 10px 15px;
  text-align: center;
  background-color: #000000;
  color: #CCCCCC;
  border: 2px white;
  border-radius: 5px;
  cursor: pointer;
  margin: 1%; }
  .btn:hover {
    background-color: #CCCCCC;
    color: #000000;
    border: 1px ridge black; }

.btn-sml {
  font-size: 15px;
  padding: 5px 13px; }

.btn-lrg {
  font-size: 25px;
  padding: 12px 23px; }

.btn-blue {
  background-color: #3399FF;
  color: #FFFFFF; }
  .btn-blue:hover {
    background-color: #FFFFFF;
    color: #3399FF;
    font-size: 18px;
    padding: 10px 15px; }

.btn-vert {
  background-color: #33FF33;
  color: #FFFFFF; }
  .btn-vert:hover {
    background-color: #FFFFFF;
    color: #33FF33;
    font-size: 18px;
    padding: 10px 15px; }

.btn-rouge {
  background-color: #FF3333;
  color: #FFFFFF; }
  .btn-rouge:hover {
    background-color: #FFFFFF;
    color: #FF3333;
    font-size: 18px;
    padding: 10px 15px; }

.btn-flat {
  padding: 4px 15px;
  border-radius: 0px;
  border: 0px;
  background-color: #00CC33;
  color: white;
  margin: 5px; }
  .btn-flat:hover {
    background-color: #00CC33;
    color: white;
    border: none; }

.btn-extra {
  width: 100%;
  margin: 0; }

.btn-fancy {
  color: white;
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C */
  box-shadow: 8px 8px 8px #888;
  border: none; }
  .btn-fancy:hover {
    padding: 15px 20px;
    transform: rotateX(20deg);
    transition: all 1s ease;
    background-color: #1e5799;
    color: white;
    border: none; }

.header {
  height: auto;
  border: 1px solid #CCC;
  width: 90%;
  margin: 10px auto;
  font-size: 40px;
  background-color: #99CCFF;
  text-align: center;
  padding: 25px; }

.jumbo {
  padding: 30px;
  background-color: rgba(174, 140, 142, 0.6);
  text-align: center;
  width: 45%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  font-family: Arial;
  border-radius: 3px; }
  .jumbo p {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    line-height: normal; }
  .jumbo h1 {
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: #B18904; }
  .jumbo button {
    margin-top: 25px; }

html {
  background-color: #EDF7F2; }

.col {
  width: 25%; }

.col35 {
  width: 35%; }

.col40 {
  width: 40%; }

h1 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

h2 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 1.875rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

h3 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 1.400rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

h4 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

h5 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 1rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

h6 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

small {
  font-size: 0.8em;
  color: grey; }

h1.small {
  font-size: 2.5em;
  color: grey; }

h2.small {
  font-size: 1.875em;
  color: grey; }

h3.small {
  font-size: 1.4em;
  color: grey; }

h4.small {
  font-size: 1.2em;
  color: grey; }

h5.small {
  font-size: 1em;
  color: grey; }

h6.small {
  font-size: 0.8em;
  color: grey; }

body {
  font-family: "Times New Roman", Times, serif;
  margin: 2%; }

body p {
  font-size: 17px;
  padding: 5px; }

mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  border-bottom: dotted 1px black;
  cursor: help; }

blockquote {
  background: #FFFFBB;
  border-left: 10px solid rgba(150, 105, 105, 0.85);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
  font-style: italic; }
  blockquote:before {
    color: #291212;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }

pre code {
  line-height: 1.6em;
  font-size: 12px;
  color: white; }

code {
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left; }

pre {
  padding: 0.3em 0.5em 0.2em 0.6em;
  border-left: 9px dotted white;
  margin: 1.5em 0 1.5em 0.3em;
  overflow: auto;
  width: 90%;
  background-color: black;
  color: white; }

kbd {
  font-family: arial;
  font-size: 14px;
  color: #4B504B;
  font-weight: bold;
  background-color: #C6DCB0;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.2em 0.3em; }
  kbd:hover {
    color: #C6DCB0;
    background-color: #4B504B; }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul li {
    list-style-type: disc;
    margin-left: 20px; }
  ul.square li {
    list-style-type: square;
    margin-left: 20px; }
  ul.none li {
    list-style-type: none; }

.gauche {
  text-align: left; }

.droite {
  text-align: right; }

.centre {
  text-align: center; }

.justifie {
  text-align: justify; }

.maj {
  text-transform: uppercase; }

.min {
  text-transform: lowercase; }

.table {
  width: 80%;
  margin: 10%; }
  .table th {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #2176AE;
    border: solid 1px black;
    padding: 2px;
    font-family: "Josefin Sans", sans-serif; }
  .table caption {
    color: black;
    font-size: 2em;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif; }
  .table td {
    border: solid 1px black;
    padding: 2px; }

.test {
  overflow: scroll; }

.altern tr:nth-child(2n+1) {
  background-color: #57B8FF; }

.lignHover td:hover {
  background-color: #FE6847; }

.navbar {
  width: 100%;
  margin: 1% auto; }
  .navbar li {
    display: inline-block;
    background-color: #FFF68F;
    color: #665B6C;
    margin-left: -1px;
    padding: 6px 10px;
    border: 1px solid black;
    font-size: 1.1em; }
    .navbar li:hover {
      background: rgba(255, 255, 255, 0.2); }
    .navbar li:first-child {
      border-radius: 3px 0 0 3px; }
    .navbar li:last-child {
      border-radius: 0 3px 3px 0; }
    .navbar li a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      padding: 5px 5px 5px 5px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
      .navbar li a:hover {
        background: rgba(255, 255, 255, 0.2); }
  .navbar .disabled a {
    cursor: not-allowed;
    font-size: 1em; }
  .navbar .active {
    background: #FF6E40;
    color: black;
    font-weight: bold; }

.breadcrumb {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35); }
  .breadcrumb li {
    display: inline-block;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    margin: 10px auto;
    padding: 0px 0px 0px 5px; }
    .breadcrumb li:nth-child(n+2):before {
      content: ">"; }
  .breadcrumb a {
    text-decoration: none;
    color: #00B0FF;
    font-size: 13px;
    line-height: 34px;
    padding: 8px;
    font-weight: bold; }

.pagination li {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  list-style: none; }
.pagination a {
  border: solid 1px #DDDDDD;
  margin-right: 5px; }
  .pagination a:link {
    color: #0063e3;
    display: block;
    float: left;
    padding: 6px 10px;
    text-decoration: none; }
  .pagination a:visited {
    color: #0063e3;
    display: block;
    float: left;
    padding: 6px 10px;
    text-decoration: none; }
  .pagination a:hover {
    border: solid 1px #666666; }
.pagination .active {
  color: #ff0084;
  font-weight: bold;
  display: block;
  float: left;
  padding: 3px 5px; }
.pagination .disabled a {
  cursor: not-allowed; }

.row {
  width: 100%;
  background-color: #BCF5A9; }

.col-1 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 10.5%;
  margin: 1% 1%; }

.col-2 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 23%;
  margin: 1% 1%; }

.col-3 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 35.5%;
  margin: 1% 1%; }

.col-4 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 48%;
  margin: 1% 1%; }

.col-5 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 60.5%;
  margin: 1% 1%; }

.col-6 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 73%;
  margin: 1% 1%; }

.col-7 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 85.5%;
  margin: 1% 1%; }

.col-8 {
  background-color: #9CCC65;
  box-sizing: border-box;
  display: inline-block;
  width: 98%;
  margin: 1% 1%; }

.offset-1 {
  margin-left: 13.5%; }

.offset-2 {
  margin-left: 26%; }

.offset-3 {
  margin-left: 38.5%; }

.offset-4 {
  margin-left: 51%; }

.offset-5 {
  margin-left: 63.5%; }

.offset-6 {
  margin-left: 76%; }

.offset-7 {
  margin-left: 88.5%; }

/*# sourceMappingURL=main.css.map */
