.navbar {
  width: 100%;
  margin: 1% auto; }
  .navbar li {
    display: inline-block;
    background-color: #FFF68F;
    color: #665B6C;
    margin-left: -1px;
    padding: 6px 10px;
    border: 1px solid black;
    font-size: 1.1em; }
    .navbar li:hover {
      background: rgba(255, 255, 255, 0.2); }
    .navbar li:first-child {
      border-radius: 3px 0 0 3px; }
    .navbar li:last-child {
      border-radius: 0 3px 3px 0; }
    .navbar li a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      padding: 5px 5px 5px 5px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
      .navbar li a:hover {
        background: rgba(255, 255, 255, 0.2); }
  .navbar .disabled a {
    cursor: not-allowed;
    font-size: 1em; }
  .navbar .active {
    background: #FF6E40;
    color: black;
    font-weight: bold; }

.breadcrumb {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35); }
  .breadcrumb li {
    display: inline-block;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    margin: 10px auto;
    padding: 0px 0px 0px 5px; }
    .breadcrumb li:nth-child(n+2):before {
      content: ">"; }
  .breadcrumb a {
    text-decoration: none;
    color: #00B0FF;
    font-size: 13px;
    line-height: 34px;
    padding: 8px;
    font-weight: bold; }

.pagination li {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  list-style: none; }
.pagination a {
  border: solid 1px #DDDDDD;
  margin-right: 5px; }
  .pagination a:link {
    color: #0063e3;
    display: block;
    float: left;
    padding: 6px 10px;
    text-decoration: none; }
  .pagination a:visited {
    color: #0063e3;
    display: block;
    float: left;
    padding: 6px 10px;
    text-decoration: none; }
  .pagination a:hover {
    border: solid 1px #666666; }
.pagination .active {
  color: #ff0084;
  font-weight: bold;
  display: block;
  float: left;
  padding: 3px 5px; }
.pagination .disabled a {
  cursor: not-allowed; }

/*# sourceMappingURL=navigation.css.map */
