/*
* TITRES H1-H6
*/
h1 {
	color: black;
	font-weight: bold;
	font-size: 2.5rem;
	font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif;
}

h2 {
	color: black;
	font-weight: bold;
	font-size: 1.875em;
	font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif;
}

h3 {
	color: black;
	font-weight: bold;
	font-size: 1.400em;
	font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif;
}

h4 {
	color: black;
	font-weight: bold;
	font-size: 1.2em;
	font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif;
}

h5 {
	color: black;
	font-weight: bold;
	font-size: 1em;
	font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif;
}

h6 {
	color: black;
	font-weight: bold;
	font-size: 0.9em;
	font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif;
}

/*
* SOUS-TITRES H1-H6
*/

small {
	font-size: 0.8em;
	color: grey;	
}

/*
* CLASSE SOUS-TITRE H1-H6
*/
h1.small {
	font-size: 2.5em;
	color: grey;
}

h2.small {
	font-size: 1.875em;
	color: grey;
}

h3.small {
	font-size: 1.4em;
	color: grey;
}

h4.small {
	font-size: 1.2em;
	color: grey;
}

h5.small {
	font-size: 1em;
	color: grey;
}

h6.small {
	font-size: 0.8em;
	color: grey;
}

/*
* PARAGRAPHES ET BODY
*/
body {
	font-family: "Times New Roman", Times, serif;
	margin: 2%;
}

body p {
	font-size: 17px;
	padding: 5px;
}

/*
* BALISES DE TEXTE INLINE
*/

mark {
	background-color: yellow;
	color: black;
}

del {
	text-decoration: line-through;
}

ins {
	text-decoration: underline;
}

u {
	text-decoration: underline;	
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

abbr {
	border-bottom: dotted 1px black;
	cursor: help;
}

/*
* QUOTE & BLOCKQUOTE
*/

blockquote {
  background: #FFFFBB;
  border-left: 10px solid hsla(0, 18%, 50%, 0.85);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
}

blockquote:before {
  color: #291212;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

pre code {
	line-height: 1.6em;
	font-size: 12px;
}
code {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
}

pre {
	padding: 0.3em 0.5em 0.2em 0.6em;
	border-left: 11px solid rgba(74, 64, 64, 0.58);
	margin: 1.5em 0 1.5em 0.3em;
	overflow: auto;
	width: 90%;
}

kbd {
	font-family: arial;
	font-size: 14px;
	color: #4B504B;
	font-weight: bold;
	background-color: #C6DCB0;
	border: 1px solid black;
	border-radius: 3px;
	padding: 0.2em 0.3em;
}

kbd:hover {
	color: #C6DCB0;
	background-color: #4B504B;
}

/* LISTES */

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li {
    list-style-type: disc; 
    margin-left: 20px; 
}

ul.square li {
    list-style-type: square;
    margin-left: 20px;
}

ul.none li {
	list-style-type: none;
}

/* ALIGNEMENTS ET TRANSFORMATIONS */

.gauche {
 	text-align: left;
}	

.droite {
	text-align: right;
}

.centre {
	text-align: center;
}

.justifie {
	text-align: justify;
}

.maj {
	text-transform: uppercase;
}

.min {
	text-transform: lowercase;
}
/* TABLES */

.table {
	width: 50%;
}

.table th {
	color: black;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #E4E1E1;
	border: solid 1px black;
	padding: 2px;
}

.table caption {
	color: black;
	font-size: 2em;
	font-weight: bold;
	background-color: #E4E1E1;
	border: solid 1px black;
}

.table td{
	border: solid 1px black;
	padding: 2px;
}

.altern tr:nth-child(2n+1) {
	background-color: #FBA5A5;
}

.lignHover td:hover{
	background-color: #DCF788;
}

/* BOUTONS */

.btn {
	font-size: 18px;
	padding: 10px 15px;
	text-align: center;
	background-color: #000000;
	color: #CCCCCC;
	border: 2px white;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: #CCCCCC;
	color: #000000;
	border: 1px ridge black;
}

.btn-sml {
	font-size: 15px;
	padding: 5px 13px;
}

.btn-lrg {
	font-size: 25px;
	padding: 12px 23px;
}

.btn-blue {
	background-color: #3399FF; 
	color: #FFFFFF;
}

.btn-blue:hover {
	background-color: #FFFFFF;
	color: #3399FF;
	font-size: 18px;
	padding: 10px 15px;
}

.btn-vert {
	background-color: #33FF33; 
	color: #FFFFFF;
}

.btn-vert:hover {
	background-color: #FFFFFF;
	color: #336600;
	font-size: 18px;
	padding: 10px 15px;
}

.btn-rouge {
	background-color: #FF3333; 
	color: #FFFFFF;
}

.btn-rouge:hover {
	background-color: #FFFFFF;
	color: #FF3333;
	font-size: 18px;
	padding: 10px 15px;
}

.btn-flat {
	padding: 4px 15px;
	border-radius: 0px;
	border: 0px;
	background-color: #00CC33;
	color: white;
	margin: 5px;
}

.btn-flat:hover {
	background-color: #00CC33;
	color: white;
	border: none;
}

.btn-extra {
	width: 100%;
	margin: 5px;
}

.btn-fancy {
	color: white;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	box-shadow: 8px 8px 8px #888;
	border: none;
}

.btn-fancy:hover {
	padding: 15px 20px;
    transform: rotateX(20deg);
    transition:all 1s ease;
	background-color: #1e5799;
	color: white;
	border: none;
}

/* ALERTES */

.info, .success, .warning, .error {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../image/knobs/PNG/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../image/knobs/PNG/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../image/knobs/PNG/warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../image/knobs/PNG/error.png');
}

/* HEADER */

.header {
    height:50px;
    border:1px solid #CCC;
    width:960px;
    margin: 15px auto;
    font-size: 40px;
    background-color:#99CCFF;
    text-align:center;
    padding:25px;
}

/* JUMBOTRON */

.jumbo {
	padding: 30px;
	background-color: rgba(174, 140, 142, 0.6); 
	text-align: center;
	width: 45%;
	height: auto;
	margin: auto;
	margin-bottom: 20px;
	font-family: Arial;
	border-radius: 3px;
}

.jumbo p {
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
	line-height: normal;
}

.jumbo h1 {
	padding: 10px;
	margin-bottom: 10px;
}

.jumbo button {
	margin-top: 25px;
}