@charset "UTF-8";
html {
  background-color: #EDF7F2; }

.col {
  width: 25%; }

.col35 {
  width: 35%; }

.col40 {
  width: 40%; }

h1 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

h2 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 1.875rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

h3 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 1.400rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

h4 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

h5 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 1rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

h6 {
  color: #57B8FF;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: Arial, Georgia, Arial, "Times New Roman", sans-serif; }

small {
  font-size: 0.8em;
  color: grey; }

h1.small {
  font-size: 2.5em;
  color: grey; }

h2.small {
  font-size: 1.875em;
  color: grey; }

h3.small {
  font-size: 1.4em;
  color: grey; }

h4.small {
  font-size: 1.2em;
  color: grey; }

h5.small {
  font-size: 1em;
  color: grey; }

h6.small {
  font-size: 0.8em;
  color: grey; }

body {
  font-family: "Times New Roman", Times, serif;
  margin: 2%; }

body p {
  font-size: 17px;
  padding: 5px; }

mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  border-bottom: dotted 1px black;
  cursor: help; }

blockquote {
  background: #FFFFBB;
  border-left: 10px solid rgba(150, 105, 105, 0.85);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
  font-style: italic; }
  blockquote:before {
    color: #291212;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }

pre code {
  line-height: 1.6em;
  font-size: 12px;
  color: white; }

code {
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left; }

pre {
  padding: 0.3em 0.5em 0.2em 0.6em;
  border-left: 9px dotted white;
  margin: 1.5em 0 1.5em 0.3em;
  overflow: auto;
  width: 90%;
  background-color: black;
  color: white; }

kbd {
  font-family: arial;
  font-size: 14px;
  color: #4B504B;
  font-weight: bold;
  background-color: #C6DCB0;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.2em 0.3em; }
  kbd:hover {
    color: #C6DCB0;
    background-color: #4B504B; }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul li {
    list-style-type: disc;
    margin-left: 20px; }
  ul.square li {
    list-style-type: square;
    margin-left: 20px; }
  ul.none li {
    list-style-type: none; }

.gauche {
  text-align: left; }

.droite {
  text-align: right; }

.centre {
  text-align: center; }

.justifie {
  text-align: justify; }

.maj {
  text-transform: uppercase; }

.min {
  text-transform: lowercase; }

.table {
  width: 80%;
  margin: 10%; }
  .table th {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #2176AE;
    border: solid 1px black;
    padding: 2px;
    font-family: "Josefin Sans", sans-serif; }
  .table caption {
    color: black;
    font-size: 2em;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif; }
  .table td {
    border: solid 1px black;
    padding: 2px; }

.test {
  overflow: scroll; }

.altern tr:nth-child(2n+1) {
  background-color: #57B8FF; }

.lignHover td:hover {
  background-color: #FE6847; }

/*# sourceMappingURL=typobase.css.map */
