

.info, .success, .warning, .error {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

$infocolor: #00529B;
$infobgcolor: #BDE5F8;
.info {
color: $infocolor;
background-color: $infobgcolor;
background-image: url('../image/knobs/PNG/info.png');
}

$successcolor: #4F8A10;
$successbgcolor: #DFF2BF;
.success {
color: $successcolor;
background-color: $successbgcolor;
background-image:url('../image/knobs/PNG/success.png');
}

$warningcolor: #9F6000; 
$warningbgcolor: #FEEFB3; 
.warning {
color: $warningcolor;
background-color: $warningbgcolor;
background-image: url('../image/knobs/PNG/warning.png');
}

$errorcolor: #D8000C;
$errorbgcolor: #FFBABA;
.error {
color: $errorcolor;
background-color: $errorbgcolor;
background-image: url('../image/knobs/PNG/error.png');
}