

$btnbgcolor: #000000;
$btncolor: #CCCCCC;
$btnfs: 18px;

.btn {
	font-size: $btnfs;
	padding: 10px 15px;
	text-align: center;
	background-color: $btnbgcolor;
	color: $btncolor;
	border: 2px white;
	border-radius: 5px;
	cursor: pointer;
	margin: 1%;

	&:hover {
	background-color: $btncolor;
	color: $btnbgcolor;
	border: 1px ridge black;
	}
}

$btn-smlsize: 15px;
.btn-sml {
	font-size: $btn-smlsize;
	padding: 5px 13px;
}

$btn-lrgsize: 25px;
.btn-lrg {
	font-size: $btn-lrgsize;
	padding: 12px 23px;
}

$btn-bluebgcolor: #3399FF;
$btn-bluecolor: #FFFFFF;
.btn-blue {
	background-color: $btn-bluebgcolor; 
	color: $btn-bluecolor;

	&:hover {
		background-color: $btn-bluecolor;
		color: $btn-bluebgcolor;
		font-size: $btnfs;
		padding: 10px 15px;
	}
}

$btn-vertbgcolor: #33FF33;
$btn-vertcolor: #FFFFFF;
.btn-vert {
	background-color: $btn-vertbgcolor; 
	color: $btn-vertcolor;

	&:hover {
		background-color: $btn-vertcolor;
		color: $btn-vertbgcolor;
		font-size: $btnfs;
		padding: 10px 15px;
	}
}

$btn-rougebgcolor: #FF3333;
$btn-rougecolor: #FFFFFF;
.btn-rouge {
	background-color: $btn-rougebgcolor; 
	color: $btn-rougecolor;

	&:hover {
		background-color: $btn-rougecolor;
		color: $btn-rougebgcolor;
		font-size: $btnfs;
		padding: 10px 15px;		
	}
}

$btn-flatbgcolor: #00CC33;
$btn-flatcolor: white;
.btn-flat {
	padding: 4px 15px;
	border-radius: 0px;
	border: 0px;
	background-color: $btn-flatbgcolor;
	color: $btn-flatcolor;
	margin: 5px;

	&:hover {
		background-color: $btn-flatbgcolor;
		color: $btn-flatcolor;
		border: none;		
	}
}

.btn-extra {
	width: 100%;
	margin: 0;
}

$btn-fancycolor: white;
$btn-fancybgcolor: #1e5799;
.btn-fancy {
	color: $btn-fancycolor;
	background: $btn-fancybgcolor; 
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	box-shadow: 8px 8px 8px #888;
	border: none;

	&:hover {
		padding: 15px 20px;
	    transform: rotateX(20deg);
	    transition:all 1s ease;
		background-color: $btn-fancybgcolor;
		color: $btn-fancycolor;
		border: none;		
	}
}
