

$headersize: 40px;
$headerbgcolor: #99CCFF;
.header {
    height:auto;
    border:1px solid #CCC;
    width: 90%;
    margin: 10px auto;
    font-size: $headersize;
    background-color: $headerbgcolor;
    text-align:center;
    padding:25px;
}



$jumbobgcolor: rgba(174, 140, 142, 0.6);
.jumbo {
	padding: 30px;
	background-color: $jumbobgcolor; 
	text-align: center;
	width: 45%;
	height: auto;
	margin: auto;
	margin-bottom: 20px;
	font-family: Arial;
	border-radius: 3px;

	p {
		text-align: justify;
		margin-left: 10%;
		margin-right: 10%;
		line-height: normal;
	}

	h1 {
		padding: 10px;
		margin-bottom: 10px;
		word-wrap: break-word;
		color: #B18904;		
	}

	button {
		margin-top: 25px;	
	}
}
