
.row {
	width: 100%;
	background-color: #BCF5A9;
}
	
$numcols: 8;
@mixin grid-col($cols, $numcols) {
	background-color: #9CCC65;
	box-sizing: border-box;
	display: inline-block;
	width: $cols * ( ( 100% - $numcols*2% )/$numcols )+(2*$cols)-2;
	margin: 1% 1%;
}

@mixin grid-offset($cols, $numcols) {
	margin-left: $cols * ( ( 100%- $numcols*2 )/$numcols) + ($cols*2)+1;
}

@for $cols from 1 to $numcols+1 {
	.col-#{$cols} {
		@include grid-col($cols, $numcols);
	}
}

@for $cols from 1 to $numcols {
	.offset-#{$cols} {
		@include grid-offset($cols, $numcols);
	}
}